<div class="container">
  <div class="top-image">
    <%= image_tag 'memory.png', alt: 'Memory', class: 'memory-image' %>
  </div>

  <!-- 文章を入れるスペース -->
  <div class="text-section">
    <p>「大切な時間を、やさしく記録。」<br>
       毎日の育児をもっと楽しく、もっとシンプルに。<br>
       可愛いパステルカラーの育児記録帳で、赤ちゃんの成長をしっかりと残していきましょう。</p>
    <p>忙しいママやパパでも簡単に使える、<br>
       使いやすさと見やすさを追求したデザインです。<br>
       赤ちゃんとの大切な思い出を、いつでも振り返られるように。</p>
  </div>

  <div class="button-row">
    <a href="/login">
      <%= image_tag 'login.png', alt: 'ログイン', class: 'image-link' %>
    </a>
    <a href="/users/new">
      <%= image_tag 'new.png', alt: '新規登録', class: 'image-link' %>
    </a>
  </div>
</div>
