<%= render 'shared/header' %>
  <div class="text-section" style="text-align: center">
    <h2>新規パスワードの登録
    </h2>
    <p>
    新しくパスワードを入力してください
  </div>

  <button type="submit" style="width: 30%; border: none; background-color: transparent; cursor: pointer;">
  <img src="<%= asset_path('write.png') %>" alt="そうしん" style="width: 30%; height: auto;">
  </button>
</div>
