<% if logged_in? %>
  <div class="styled-table-container"> <!-- クラスを追加 -->
    <table class="styled-table">
      <thead>
        <tr>
          <th>日時</th>
          <th>記録した人</th>
          <th>うんち</th>
          <th>みるく</th>
          <th>おしっこ</th>
          <th>備考</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @records.each do |record| %>
          <tr>
            <td><%= record.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td><%= record.recorder.name %></td>
            <td><%= record.flight_category.color %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
